<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-center">
    <ul class="nav d-flex flex-row align-items-center">

      <li class="nav-item">
        <a class="nav-link" href="https://kvergasta.github.io/PortifolioKV/" target="_blank">
        <mat-icon>polymer</mat-icon>
      </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="https://github.com/KVergasta/NotificationHub_APP" target="_blank">
          <img src="/assets/wgitHub.png" alt="github" class="footer-icon">
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/kauane-vergasta-a3a602219/" target="_blank">
          <img src="/assets/wlinkedin.webp" alt="linkedin" class="footer-icon">
        </a>
      </li>


    </ul>
  </div>
</nav>

