:host{
  display: flex;
  flex-direction: column;
  padding-top: 2%!important;
  padding-bottom: 5%!important;
  padding-right: 10% !important;
  padding-left: 10% !important;
  /* margin-right: 5%; */
}

img{
  width: 5%;
  height: auto;
}
div{
  background-color: #393E46;
  border: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

div:hover{
  color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 10px 0px #929AAB;
}

p{
  font-family:'Courier New', Courier, monospace;
}
