<h2>⁂ NOTIFICATION HUB ⁂</h2>

<div class="formulario">

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">

  <input type="radio"
         class="btn-check"
         name="tipoNotificacao"
         id="radio-email"
         autocomplete="off"
         [checked]="typeNotification === 'email'"
         (change)="channelSelected('email')">
  <label class="btn btn-outline-primary" for="radio-email">
    <mat-icon>email</mat-icon>
    <h4>Email(E)</h4>
  </label>

  <input type="radio"
         class="btn-check"
         name="tipoNotificacao"
         id="radio-push"
         autocomplete="off"
         [checked]="typeNotification === 'push'"
         (change)="channelSelected('push')">
  <label class="btn btn-outline-primary" for="radio-push">
    <mat-icon>computer</mat-icon>
    <h4>Push(P)</h4>
  </label>

  <input type="radio"
         class="btn-check"
         name="tipoNotificacao"
         id="radio-feedback"
         autocomplete="off"
         [checked]="typeNotification === 'feedback'"
         (change)="channelSelected('feedback')">
  <label class="btn btn-outline-primary" for="radio-feedback">
    <mat-icon>favorite</mat-icon>
    <h4>Feedback</h4>
  </label>

</div>

<form *ngIf="typeNotification === 'email'" [formGroup]="formEmail" (ngSubmit)="saveEmailNotification()">
  <br>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" formControlName="infoUser" id="email" aria-describedby="emailHelp" placeholder="example@gmail.com / example@outlook.com" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Subject</label>
    <input type="text" class="form-control" formControlName="subject" id="subject" placeholder="Lore ispum" required>
  </div>
  <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" id="message" formControlName="message" rows="3" required placeholder="Enter your message here..." required></textarea>
</div>
  <button type="submit" class="btn btn-primary" id="submit" [disabled]="this.formEmail.invalid"> Submit <mat-icon>send</mat-icon></button>
</form>

<form *ngIf="typeNotification === 'push'" [formGroup]="formPush">
  <br>
  <div class="mb-3">
    <label for="titulo" class="form-label">Title</label>
    <input type="text" class="form-control" formControlName="title" id="subject" placeholder="Lore ispum" required>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <textarea class="form-control" id="message" formControlName="message" rows="3" required placeholder="Enter your message here..."required></textarea>
  </div>

  <button type="submit" class="btn btn-primary" id="submit" [disabled]="this.formPush.invalid">Submit <mat-icon>send</mat-icon></button>
</form>

<form *ngIf="typeNotification === 'feedback'" [formGroup]="formFeedback" (ngSubmit)="saveFeedbackNotification()">
<br>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Creator email address</label>
    <input  type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="infoUser" placeholder="example@gmail.com" value="kauvergasta12@gmail.com" readonly>
    <p>(Input disabled. It's mean this field doesn't accept changes)</p>
  </div>

 <div class="dropdown">
  <label for="dropdownMenuButton1">Subject</label>
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    (click)="toggleDropdown()"
    aria-expanded="false">
    {{reasonSelected}}
  </button>

  <ul class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" (click)="selectOption('Possible error in the system', $event)">Possible error in the system</a></li>
    <li><a class="dropdown-item" (click)="selectOption('Compliment', $event)">Compliment</a></li>
    <li><a class="dropdown-item" (click)="selectOption('Possible opportunity (job, collaboration, etc.)', $event)">Possible opportunity (job, collaboration, etc.)</a></li>
    <li><a class="dropdown-item" (click)="selectOption('Others', $event)">Others</a></li>
  </ul>
</div>

  <div class="mb-3" *ngIf="reasonSelected =='Others'">
    <br>
    <label for="titulo" class="form-label">Title</label>
    <input type="text" class="form-control"  id="others" placeholder="Lore ispum" required>
  </div>

  <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control" id="message" rows="3" formControlName="message"  required placeholder="Enter your message here..." required></textarea>
</div>
  <button type="submit" class="btn btn-primary" id="submit" >Submit <mat-icon>send</mat-icon></button>
</form>

</div>
